body{
    background-image: url("https://images.unsplash.com/photo-1475762638009-d74671ecd29b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.data{
    display: flex; 
    justify-content: center;  
}
#ip{
    width: 50vw;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom:1px solid gray;
    background-color: white;
    height: 7vh;
    border-radius: 3px;
}
#ipdiv{
    margin: 2%;
    margin-top: 17%;
}
#getnut{
    background-color: rgb(158, 54, 6);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom:2px solid rgb(158, 54, 6);
    border-radius: 10px;
    width: 5%;
    height: 8vh;   
    margin: 2%;
    margin-top: 17%;

}


#one
{
    background: url("../assests/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
 
}
#one1
{
    color: white;
    border-left: 6px solid white;
    height: auto;
    margin-left: 2%;
    font-size: 30px;
    font-weight: bold;
    padding-top: 3%;
    color: white;
    padding-left: 1%;
}
a:link, a:visited 
{
    float: right;
    color: white);
    font-size: 30px;
    font-weight: bold;
    padding: 1px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active
{
    color: blue;
}
#disp{
    display: flex;  
}
#one2{
    padding-top: 3%; 
    margin-left: 40vw;
}

 